<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="shortcut icon" href="{{ site.baseurl }}/img/artwork/logo_letter_32px.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
<!--
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
-->
        <title>{{ page.title }}</title>

<!-- syntax highlighting CSS -->
<!--
        <link rel="stylesheet" href="/css/syntax.css">
-->
        <!-- Custom CSS -->
<!--
        <link rel="stylesheet" href="/css/main.css">
-->
		<!-- Bootstrap -->
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
		<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/css/generic.css" rel="stylesheet">

      <!--<script type="text/x-mathjax-config">-->
	<!--MathJax.Hub.Config({-->
	  <!--tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}-->
	<!--});-->
	<!--</script>-->
	<!--<script type="text/javascript"-->
		<!--src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">-->
	<!--</script>-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76340727-1', 'auto');
  ga('send', 'pageview');

</script>


    </head>
    <body>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"   href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/artwork/logo_text_128px.png" style="opacity:0.75; width:100px" ></img></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!--<li class="nav-item active">-->
        <li class="nav-item"><a href="{{ site.baseurl }}/doc">Documentation</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/rethomics/">R package</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/blog/">Blog</a></li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ site.baseurl }}/people#authors">Authors</a>
			<a class="dropdown-item" href="{{ site.baseurl }}/people#collaborators">Collaborators</a>
			<a class="dropdown-item" href="{{ site.baseurl }}/publications/">Publications</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/data">Data</a>
			<a class="dropdown-item" href="{{ site.baseurl }}/links/">Links</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

           <!-- Fixed navbar -->
    <!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">-->
      <!--<div class="container">-->
        <!--<div class="navbar-header">-->
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
          <!--</button>-->
          <!--<a class="navbar-brand"  href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/artwork/logo_text_128px.png" style="opacity:0.75; width:100px" ></img></a>-->
          <!--&lt;!&ndash; <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a> &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="navbar-collapse collapse">-->
          <!--<ul class="nav navbar-nav">          -->
			<!---->
			<!--&lt;!&ndash;<li class="more">&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hardware<b class="caret"></b></a>&ndash;&gt;-->
              <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/hardware">Overview</a></li>&ndash;&gt;-->
				  <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/hardware#node">Node</a></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/hardware#router">Router</a></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/hardware#ethoscope">Ethoscope</a></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/hardware#Arenas">Arenas</a></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/hardware#ethoscope_mods">Modules</a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
			<!--&lt;!&ndash;&ndash;&gt;-->
			<!--&lt;!&ndash;<li class="more">&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown">Software<b class="caret"></b></a>&ndash;&gt;-->
              <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/software">Overview</a></li>&ndash;&gt;-->
				  <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/software#node">Node</a></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/software#router">Router</a></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/software#ethoscope">Ethoscope</a></li>&ndash;&gt;-->
  				  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/software#ethoscope_mods">Modules</a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->

              <!--<li><a href="{{ site.baseurl }}/doc">Documentation</a></li>-->
              <!--<li><a href="{{ site.baseurl }}/rethomics/">R package</a></li>-->
              <!--<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>-->


            <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/rethomics/">R Package</a></li>&ndash;&gt;-->

            <!---->
			<!--<li class="more">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>-->
              <!--<ul class="dropdown-menu">-->
                  <!--&lt;!&ndash;<li><a href="{{ site.baseurl }}/doc">Documentation</a></li>&ndash;&gt;-->
				<!--<li><a href="{{ site.baseurl }}/people#authors">Authors</a></li>-->
				<!--<li><a href="{{ site.baseurl }}/people#collaborators">Collaborators</a></li>-->
				<!--<li class="divider"></li>-->
				<!--<li><a href="{{ site.baseurl }}/publications/">Publications</a></li>-->
				<!--<li class="divider"></li>-->
                <!--<li><a href="{{ site.baseurl }}/data">Data</a></li>-->
                <!--<li class="divider"></li>-->
				<!--<li><a href="{{ site.baseurl }}/links/">Links</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->

        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
    <div class="container">
        <div class="jumbotron">
		    {{ content }}
	    </div>
	</div>
	<div class="container">
	  <div class="footer">
		<div class="contact">
			<a href="mailto:quentin.geissmann13@imperial.ac.uk?Subject=Website" target="_top">Quentin Geissmann</a>,
			<a href="http://www3.imperial.ac.uk/lifesciences">Department of Life Sciences</a>, Imperial College London. {{ site.time | date_to_string }}
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
				<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" width="44"/>
				</a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource"
				property="dct:title" rel="dct:type">This website</span>, and all its content, is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
		  </p>
		</div>
	  </div>
	</div>
       </div>
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="{{ site.baseurl }}/js/jquery-1.11.0.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/generic.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>



    </body>
</html>
